cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.prof*
*.aux*
*.ps*
*.hp*
Setup.hs
dist
tmp
log
.cabal-sandbox
cabal.sandbox.config
TAGS
tags
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.org
*.tar
*.gz
*.tmp
.devel
.deps
.test
